* {
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.container {
  display: grid;
  width: 80vw;
  height: 100vh;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 80px 2fr 1fr 100px;
  grid-gap: 1rem;
}

body {
  background-color: #3b404e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header,
.sidebar,
.content-1,
.content-2,
.content-3,
.footer {
  color: white;
  font-weight: bold;
  border: black 5px solid;
  box-shadow: 5px 5px 5px black;
}

.content-1,
.content-2,
.content-3 {
  background-image: linear-gradient(120deg, purple, 10%, blue, 80%, aqua);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  background-image: linear-gradient(120deg, purple, 10%, red, 80%, purple);
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  background-image: linear-gradient(120deg, blue, 10%, purple, 80%, aqua);
}

.content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  background-color: aquamarine;
}

.content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background-color: aquamarine;
}

.content-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  background-color: aquamarine;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 4 / 5;
  grid-column: 1 / 4;
  background-image: linear-gradient(120deg, red, 10%, darkgray, 80%, aqua);
}
