* {
  box-sizing: border-box;
}

body {
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
}

input,
textarea,
select,
button {
  font: inherit;
}

.page-layout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  border-bottom: 1pt solid black;
  padding-left: 20px;
}

footer {
  grid-column: 1 / -1;
  grid-row: 3;
  border-top: 1pt solid black;
}

.curve-creator,
.main-area,
.curve-data {
  background-color: lightgray;
}

#curve-creation-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto-fit, auto);
  gap: 5px;
  border: solid 1px black;
  padding: 10px;
  font-size: small;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  grid-row: 2 / 8;
}

#fault-level-creation-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto-fit, auto);
  gap: 5px;
  border: solid 1px black;
  padding: 10px;
  font-size: small;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  grid-row: 9 / 13;
}

.main-area {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 50px;
  padding: 10px;
}

@media (width <= 35rem) {
  .main-area {
    border: 1pt black solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.chart-area {
  width: 100%;
  height: 100%;
}

.btn {
  border-radius: 3px;
  height: 80px;
  width: 100px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  /* margin: 20px 10px 10px 0; */
  padding: 10px 20px;
  text-decoration: none;
  max-width: 120px;
  text-align: center;
  display: inline-block;
  transition:
    background-color 220ms,
    transform 220ms;
  border: none;
}

.control-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: black solid 1px;
  padding: 10px;
  border-radius: 5px;
}

#curve-modification-form,
#fault-level-modification-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  border: solid 1px black;
  padding: 10px;
  font-size: small;
  border-radius: 5px;
  background-color: white;
  align-items: center;
}

.curve-data-cards,
.fl-data-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.curve-card,
.fl-card {
  border: 1pt solid black;
  font-size: small;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-title p:first-child {
  font-weight: bold;
}

.card-body p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.curve-card:hover,
.fl-card:hover {
  box-shadow: 10px 5px 5px black;
  cursor: pointer;
}

.selected-card {
  border: 1px solid gold;
}

.curve-data-cards > *,
.fl-data-cards > * {
  visibility: hidden;
}

.cdc-visible {
  visibility: visible;
}
